{% extends "base.html" %} 
{% load static %}

{% block title %} 
Contact Us
{% endblock %}

{% block css_files %}
  <link rel="stylesheet" href="{% static "my_blog/index.css" %}" />
  <link rel="stylesheet" href="{% static "my_blog/contact.css" %}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}
{% block content %}
<div class="wrap">
    <div class="content">
        <section id="latest-posts">
            <h2 class="contact-h1">Contact Us</h2>
            <div class="text-box">
                <a href="https://www.facebook.com/csgeeks" class="fa fa-facebook"></a>
                <p class="contact-text">
                  <h2> www.facebook.com/csgeeks</h2>
                </p>
              </div>

            <div class="text-box">
                <a href="https://www.youtube.com/@CSGeeksofficial" class="fa fa-youtube"></a>
                <p class="contact-text">
                  <h2> www.youtube.com/@CSGeeksofficial</h2>
                </p>
            </div>
            <div class="text-box">
                <a href="https://www.instagram.com/csgeekss/" class="fa fa-instagram"></a>
                <p class="contact-text">
                  <h2>  www.instagram.com/csgeekss/</h2>
                </p>
            </div>
            <div class="text-box">
                <a href="https://in.pinterest.com/Csgeeks/" class="fa fa-pinterest"></a>
                <p class="contact-text">
                  <h2>  pinterest.com/Csgeeks/</h2>
                </p>
            </div>
        </section>
    </div><!-- .content -->
     
    <div class="sidebar">
        <section id="welcome">
            <header>
              <img src="{% static "my_blog/img/profile.png" %}"/>
              <h2>Follow US</h2>
            </header>
            <p>Send All your Doubts/Queries Here</p>
          </section>
    </div><!-- .sidebar -->
    <div class="clear"></div>
</div><!-- .wrap -->
{% endblock %}
</body>
</html>